---
import ProjectCard from './ProjectCard.astro'
import { getAllProjects, sortProjectByDate } from '../utils'

const projects = await getAllProjects()
const allProjectsByDate = sortProjectByDate(projects).slice(0, 2)
---

<div class='container flex flex-col items-center gap-y-6'>
	<div class='grid w-full grid-cols-1 gap-6 sm:grid-cols-2'>
		{
			allProjectsByDate.map((project) => (
				<ProjectCard
					href={`/project/${project.slug}/`}
					heading={project.data.title}
					subheading={
						project.data.description.length > 200
							? project.data.description.slice(0, 200) + '...'
							: project.data.description
					}
					imagePath={
						project.data.coverImage?.src.src
							? project.data.coverImage.src
							: '/src/assets/coming-soon.png'
					}
					altText='maghfur.dev project'
					tags={project.data.tags}
				/>
			))
		}
	</div>

	<a
		href='/project'
		class='inline-flex items-center gap-x-2 rounded-md border border-border px-4 py-2 text-sm font-medium transition-colors hover:bg-border'
	>
		More Projects
		<svg xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' viewBox='0 0 24 24'>
			<path
				fill='none'
				stroke='currentColor'
				stroke-linecap='round'
				stroke-linejoin='round'
				stroke-width='2'
				d='M5 12h14m-7-7l7 7l-7 7'></path>
		</svg>
	</a>
</div>
